# Ignore everything by default except the directories
*

# Whitelist specific files and directories
!sdim/
!circuits/
!docs/
!examples/
!tests/

!sdim/**
!circuits/**
!docs/**
!examples/**
!tests/**

!README.md
!CHANGELOG.md
!TODO.md

!pyproject.toml
!poetry.lock

!LICENSE

# Ignore specific files and directories
circuits/random*.chp
circuits/failed*.chp
circuits/test*.chp

**/__pycache__/
