src/sdim.egg-info/
src/circuits/random_circuit_*.chp
src/circuits/failed_circuit_*.chp
**/.pytest_cache/
.pytest_cache/
**/__pycache__/
*.vscode/
*.trunk/
output.prof
profiling_results.txt
/docs/
main.py